@model IEnumerable<eNompilo.v3._0._1.Models.Vaccination.VaccinationInventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Vaccine Inventory</h1>
<hr/>

<p>
    <a asp-action="VaccinationInventory">Add to Inventory</a>
</p>
<table id="dtVaxInventory" class="table table-striped" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diseases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diseases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="bi bi-pencil-fill text-secondary"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><i class="bi bi-info-square-fill"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><i class="bi bi-trash-fill text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
