@model IEnumerable<eNompilo.v3._0._1.Models.GeneralAppointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div cid="example" class="table table-striped" style="margin-left:auto;margin-right:auto;">
    <h1>Index</h1>

    <p>
        <a asp-action="Book">Create New</a>
    </p>
    <table id="dtGenApp" class="table" class="table table-striped" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>
                    Patient Issues/Struggles
                </th>
                <th>
                    Preferred Date
                </th>
                <th>
                    Preferred Time
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patient)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.PatientFile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientIssues)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferredTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.PatientFile.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
