@model IEnumerable<eNompilo.v3._0._1.Models.GBV.GbvRecommendations>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined pt-4">
    <h1>Recommendations List</h1>
    <p>
        <a asp-action="Recommendations">Practitioner Recommendations</a>
    </p>
    <table id="dtRepGbv" class="table table-striped" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>Practitioner:</th>
                <th>Patient:</th>
                <th>Date of the Recommendation: </th>
                <th>Have you reffered the patient for further medical treatment:</th>
                <th>Please enter your Recommendation here:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.PractitionerId)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.PatientId)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Reffered)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.PractitionerRecommendation)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id">Update</a>|
                        <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>|
                        <a asp-action="View" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


