@model IEnumerable<eNompilo.v3._0._1.Models.Vaccination.VaccinationAppointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4" >
    <h1>Index</h1>

    <p>
        <a asp-action="Book">Create New</a>
    </p>
    <table id="dtVacApp" class="table table-striped" style="margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BeenVaccinated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreviousVaccine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPregnant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VaccinableDiseases)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PreferredTime)
                </th>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if(item.BeenVaccinated == true){<span>Yes</span>}else{<span>No</span>}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreviousVaccine)
                    </td>
                    <td>
                        @if(item.IsPregnant == true){<span>Pregnant</span>}else{<span>Not Pregnant</span>}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaccinableDiseases)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreferredTime)
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Cancel" asp-route-id="@item.Id">Cancel</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



