@model IEnumerable<eNompilo.v3._0._1.Models.SMP.SMPAppointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.AnaesthesiaReaction)*@
                <p>Reaction to Anaesthesia</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NatureOfReaction)*@
                <p>Description Of Reaction</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.BreathingtubeSurgery)*@
                <p>Has Had Breathing Tube Surgery</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Movement)*@
                <p>Issues With Movement</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.HeartAttack)*@
                <p> Has Had A Heart Attack</p>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.HeartAttackDate)*@
                <p>Date Of Heart Attack</p>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.DiabetesQuestion)*@
               <p>Has Diabetes</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.InsulinQuestion)*@
                <p>Takes Insulin</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PreferredDate)*@
                <p>Appointment Date</p>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PreferredTime)*@
                <p>Appointment Time</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionConfirmed)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Practitioner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnaesthesiaReaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NatureOfReaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreathingtubeSurgery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartAttack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeartAttackDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiabetesQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsulinQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Archived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Practitioner.UserId)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
