@model eNompilo.v3._0._1.Models.SMP.SMPAppointment
@using Microsoft.AspNetCore.Identity;
@using eNompilo.v3._0._1.Constants;
@using eNompilo.v3._0._1.Models.SystemUsers;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IHttpContextAccessor contextAccessor
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext _context



@{
    ViewData["Title"] = "SMPBookAppointment";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var patient = _context.tblPatient.Select(p => new SelectListItem
            {
                Value = p.Id.ToString(),
                Text = p.FirstName + " " + p.LastName + "(" + p.IdNumber + ")",
            }).ToList();
    var practitioner = _context.tblPractitioner.Select(p => new SelectListItem
            {
                Value = p.Id.ToString(),
                Text = p.Users.FirstName + " " + p.Users.LastName,
            }).ToList();
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="margined-page pt-4">
        <h2>Book An Appointment</h2>
            <hr />
            <div class="row d-flex align-items-center">
                @if (User.IsInRole(RoleConstants.Patient))
                {
                    <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
                        <form asp-action="SMPBookAppointment">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="AnaesthesiaReaction" /> @Html.DisplayNameFor(model => model.AnaesthesiaReaction)
                                </label>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="NatureOfReaction" class="control-label"></label>
                                <textarea asp-for="NatureOfReaction" class="form-control"></textarea>
                                <span asp-validation-for="NatureOfReaction" class="text-danger"></span>
                            </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="BreathingtubeSurgery" /> @Html.DisplayNameFor(model => model.BreathingtubeSurgery)
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Movement" /> @Html.DisplayNameFor(model => model.Movement)
                                </label>
                            </div>
                        <div class="form-group mb-4">
                            <label asp-for="PreferredDate" class="control-label"></label>
                            <input id="dateof" asp-for="PreferredDate" type="date" class="form-control" />
                            <span asp-validation-for="PreferredDate" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="PreferredTime" class="control-label"></label>
                            <input id="timeof" asp-for="PreferredTime" type="time" class="form-control" min="08:00" max="15:00" />
                            <span asp-validation-for="PreferredTime" class="text-danger"></span>
                        </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="HeartAttack" /> @Html.DisplayNameFor(model => model.HeartAttack)
                                </label>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="HeartAttackDate" class="control-label"></label>
                                <input id="dateof" asp-for="HeartAttackDate" type="date" class="form-control" />
                                <span asp-validation-for="HeartAttackDate" class="text-danger"></span>
                            </div>
                        <div class="form-check form-check-inline mb-4">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="DiabetesQuestion" /> @Html.DisplayNameFor(model => model.DiabetesQuestion)
                            </label>
                        </div>
                        <div class="form-check form-check-inline mb-4">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="InsulinQuestion" /> @Html.DisplayNameFor(model => model.InsulinQuestion)
                            </label>
                        </div>
                        <div class="form-group mb-4" hidden>
                            <label asp-for="PatientId" class="control-label"></label>
                            <input asp-for="PatientId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientId")" />
                        </div>
                        <div class="form-group mb-4">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                        </form>
                </div>
            }

            else if (User.IsInRole(RoleConstants.Practitioner))
            {
                <div class="col-md-4" style="margin-left:auto;margin-right:auto;">
                    <form asp-action="SMPBookAppointment">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="AnaesthesiaReaction" /> @Html.DisplayNameFor(model => model.AnaesthesiaReaction)
                                </label>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="NatureOfReaction" class="control-label"></label>
                                <textarea asp-for="NatureOfReaction" class="form-control"></textarea>
                                <span asp-validation-for="NatureOfReaction" class="text-danger"></span>
                            </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="BreathingtubeSurgery" /> @Html.DisplayNameFor(model => model.BreathingtubeSurgery)
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Movement" /> @Html.DisplayNameFor(model => model.Movement)
                                </label>
                            </div>
                            <div class="form-check form-check-inline mb-4">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="HeartAttack" /> @Html.DisplayNameFor(model => model.HeartAttack)
                                </label>
                            </div>
                            <div class="form-group mb-4">
                                <label asp-for="HeartAttackDate" class="control-label"></label>
                                <input id="dateof" asp-for="HeartAttackDate" type="date" class="form-control" />
                                <span asp-validation-for="HeartAttackDate" class="text-danger"></span>
                            </div>
                        <div class="form-check form-check-inline mb-4">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="DiabetesQuestion" /> @Html.DisplayNameFor(model => model.DiabetesQuestion)
                            </label>
                        </div>
                        <div class="form-check form-check-inline mb-4">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="InsulinQuestion" /> @Html.DisplayNameFor(model => model.InsulinQuestion)
                            </label>
                        </div>
                        <div class="form-group mb-4" hidden>
                            <label asp-for="PatientId" class="control-label"></label>
                            <input asp-for="PatientId" class="form-control" value="@contextAccessor.HttpContext.Session.GetInt32("PatientId")" />
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="Patient" class="control-label"></label>
                            <select asp-for="PatientId" id="selectedPatient" class="form-control" asp-items="@(new SelectList(patient, "Value","Text"))">
                                <option disabled selected hidden>Please select an option</option>
                            </select>
                            <span asp-validation-for="PatientId" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="Practitioner" class="control-label"></label>
                            <select asp-for="PractitionerId" class="form-control" asp-items="@(new SelectList(practitioner, "Value","Text"))">
                                <option disabled selected hidden>Please select an option</option>
                            </select>
                            <span asp-validation-for="PractitionerId" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check mb-4">
                            <label class="form-check-label">
                                Are you confirming this session with your patient <span id="patientName"></span>
                                <input class="form-check-input" asp-for="SessionConfirmed" />
                            </label>
                        </div>
                        <div class="for-group mb-4">
                            <input type="submit" value="Submit" class="btn btn-outline-primary" />
                        </div>
                    </form>    
                </div>
            }

            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById('selectedPatient').addEventListener('change', function(){
            var selectedText=this.options[this.selectedIndex].text;
            document.getElementById('patientName').textContent= selectedText;
        });
    </script>
}
@*<div class="margined-page pt-4">
    <div class="form-check-inline">
    <p>Have you or a family member ever had a serious reaction to anesthesia (other than nausea and vomiting)?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineCheckOptions" id="inlineCheck1" value="option1">
        <label class="form-check-label" for="inlineCheck1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineCheck2" value="option2">
        <label class="form-check-label" for="inlineCheck2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>If you have had surgery, were you told that it was to put in a breathing tube?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>Do you have any difficulty opening your mouth or moving your head or neck?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio5" value="option1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio6" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>
    <div class="form-check-inline">
        <p>Have you ever had a heartattack or a myocardial infarction?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio7" value="option1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio8" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br/>
    <div class="form-group mb-4">
		<label asp-for="HeartAttackDate" class="control-label"></label>
		<input id="date" asp-for="HeartAttackDate" type="date" class="form-control" />
		<span asp-validation-for="HeartAttackDate" class="text-danger"></span>
	</div>
    <br />
    <div class="form-check-inline">
        <p>Do you have diabetes or a problem with high blood sugars?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio9" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio10" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
    <br />
    <div class="form-check-inline">
        <p>If you have diabetes, are you taking insulin?</p>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio11" value="option1" />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio12" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
</div>
*@